.titulo_Redes{
    font-size: 60px;
    margin-bottom: 50px;
    line-height: 74px;
}

.suporte{
    max-width: 40%;
    flex: 1;
}


.icones{
    display: flex;
    gap: 15px;
}

.icones a .img_Redes{
    width: 50px;
    height: 50px;
}