.contact{
    max-width: 50%;
    
   
}

form{
    display: flex;
    flex-direction: column;

    
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0px 2px 4px 0px rgba(38, 50, 56, 0.08), 0px 4px 6px 0px rgba(38, 50, 56, 0.08);
    width: 500px;
}

button {
    padding: 10px 20px;
    background-color: #6C63FF;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #5548d0;
}