.containerCard {
    height: 309px;
    width: 293px;
    border-radius: 16px;
    padding: 20px;
    position: relative;
}

.containerCard h1 {
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
}

.containerCard h2 {
    font-size: 32px;
    font-weight: 500;
    color: #333333;
}

.containerCard p {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.containerCard img {
    position: absolute;
    top: 25px;
    right: 25px;
}