header nav{
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    font-size: 28px;
}

header nav li{
    color: #333333;
    text-decoration: none;
    list-style: none;
}


header nav li:hover{
    color: #33333392;
}
