.containerTexto {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 64px;
    width: 50%;
    text-align: left; 
}

h1 {
    font-size: 60px;
    text-align: left; 
}

.textosobre {
    font-size: 18px;
    width: 70%;
    text-align: left; 
}

.btnSobre {
    border-radius: 40px;
    width: 300px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-right: 108%;
}